<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>



    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
    <!--  <script src="https://cdnjs.cloudfare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!--  <script src="https://code.jquery.com/jquery-2.2.4.min.js" />-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
        .no-titlebar .ui-dialog-titlebar {
            display: none;
        }
        #description { margin-bottom:12px; width:100%; padding: .4em; }

        #fieldset { padding:0; border:0; margin-top:25px; height: 200px;}
        /*.hide_block*/
        /*{*/
        /*  display:none  !important;*/
        /*}*/

        /*.display_block*/
        /*{*/
        /*  display:block !important;*/
        /*}*/

    </style>
</head>
<body>

<div id="header">
    <h1>Calendar</h1>
</div>

<div id='script-warning'>
    <div>
        <p>Author: dimi</p>

    </div>

</div>

<div id='loading'>
    <div class="container">
        <div class="row row-cols-4">
            <div class="col"><input type="radio" value="ΔΕΠΥ Α" id="A" name="DEPY" />ΔΕΠΥ Α</div>
            <div class="col"><input type="radio" value="ΔΕΠΥ Β" id="B" name="DEPY" />ΔΕΠΥ Β</div>
            <div class="col"><input type="radio" value="ΔΕΠΥ Γ" id="C" name="DEPY" />ΔΕΠΥ Γ</div>

        </div>
    </div>
</div><hr>

<div id='calendar'  th:id="calendar"></div>


<!--  <div>-->
<!--    <label for ></label>-->
<!--    <input type="radio" value="ΔΕΠΥ Α" id="A" name="DEPY" />ΔΕΠΥ Α-->
<!--    <input type="radio" value="ΔΕΠΥ Β" id="B" name="DEPY" />ΔΕΠΥ Β-->
<!--    <input type="radio" value="ΔΕΠΥ Γ" id="C" name="DEPY" />ΔΕΠΥ Γ-->
<!--  </div>-->


</body>
</html>
<script>

    const displayInputForDate = document.getElementById('startDate');
    const displayInputForDateEnd = document.getElementById('endDate');
    const repetitionBook = document.getElementById('bookRepeat');
    const depyA = document.querySelector("#A");
    const depyB = document.querySelector("#B");
    const depyC = document.querySelector("#C");
    var whichLab ='';
    let dateStart = '';
    let dateEnd = '';
    let titleEvent = '';
    let newEvent = null;
    let myModal = null;
    let modalSaveChangesClicked = false;




    function saveEvent() {}
    function removeEvent() {}

    function showInputButtons() {


        // let displayInputForDate = document.getElementById('startDate');
        document.getElementById('startDate').setAttribute('type', 'datetime-local');
        document.getElementById('endDate').setAttribute('type','datetime-local');

    }
    function findWhichLab() {

        let lab = null;

        if (depyA.checked) {
            lab = depyA.value;
        }
        if (depyB.checked) {
            lab = depyB.value;
        }
        if (depyC.checked) {
            lab = depyC.value;
        }
        return lab;
    }
    //
    // function checkRadio() {
    //   document.getElementById('bookRepeat').checked = true;
    //   showInputButtons();
    // }
    //
    // function unCheckRadio() {
    //   document.getElementById('bookRepeat').checked = false;
    //   displayInputForDate.setAttribute('type','hidden');
    //   displayInputForDateEnd.setAttribute('type','hidden');
    // }
    //
    // function changeRepeatSele(event) {
    //
    //   let val = event.target.checked;
    //   // if (radioState === false) {
    //   if (val) {
    //     checkRadio();
    //     radioState = true;
    //   }
    //   // if (radioState === true) {
    //   if (!val) {
    //     unCheckRadio();
    //     radioState = false;
    //   }
    //
    // }

    function modalSaveAction(e) {
        e.preventDefault();
        myModal.hide();
        addEvent();

    }
    async function addEvent() {

        event.preventDefault();

        console.log("addEvent: adding new event with data " + newEvent.title + " " + newEvent.start + " " +newEvent.end);
        let resultFromAddEventJson = await fetch("/newbooking",{
            method: 'POST',
            body: JSON.stringify(newEvent),
            headers:{
                'Content-Type': 'application/json'
            }
        });

        let resultFromAddEvent = await resultFromAddEventJson.json();
        //
        // if (!resultFromAddEvent) {
        //   console.log("reserve lab where there is reservation");
        //   alert("these dates are reserved for this lab");
        // }
        // else {
        //   console.log("return from controller " + resultFromAddEvent.title);
        //   alert("reservation made!");
        // }

        return resultFromAddEvent;

    }

    function editEvent(event, element) {
        var eventStartDate = event.start;
        var eventEndDate = event.end;

        // var eventStart = moment(event.start).format("YYYY-MM-DD HH:mm:ss"); //moment(event.start);
        // var eventEnd = moment(event.end).format("YYYY-MM-DD HH:mm:ss");

        // alert (eventStart + "   " + eventEnd + "   " + event.finish);
        // var modifiedEvent = {
        //   labname: whichLab,
        //   start: eventStart,
        //   end: eventEnd,
        // }
        // modtitle.value = event.title;
        // moddescription.value = event.description;
        // modstartdateandtime.value = eventStart;
        // modenddateandtime.value = eventEnd;
        // moduid.value = event.id;


        // editDialog.dialog( "open" );
        $("edit-dialog-form").dialog("open");



    }

    function createModal(dateStartStr,timeStartStr,dateEndStr,timeEndStr) {

        console.log("createModal: create modal with modalDate and time, labname,username");
        myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        var modalDateStart = document.getElementById('startDateFromCal').innerText = dateStartStr + "  at:" + timeStartStr;
        var modalDateEnd = document.getElementById('endDateFromCal').textContent = dateEndStr + "  at:" + timeEndStr;
        var modalLabname = document.getElementById('labname');
        modalLabname.textContent = whichLab;

        var modalUsername = document.getElementById('labuser').textContent = 'dimi';


    }
    async function getAllBookings() {
        const allBookings = await fetch("/allBookings",{
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        let numRecsStr = await allBookings.text();
        console.log("getAllBookings: number of records:" + numRecsStr);
        let numRecs = Math.floor(numRecsStr);

        newEvent = {
            id: numRecs+1,
            username: 'dimi',
            labname: whichLab,
            start: dateStart,
            end: dateEnd,
            // title: 'test event'
        };

    }

    let calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {

        initialView: 'timeGridWeek',
        selectable: true,
        editable: true,
        businessHours: {
            startTime: '08:00',
            endTime: '18:00',
        },
        slotMinTime: "08:00",     // Earliest time displayed in the calendar
        slotMaxTime: "18:00",
        customButtons: {
            reserveButton: {
                text: 'new reservation',
                icon: 'square',
                click: function() {
                    alert("create a new booking");
                }
            }
        },
        footerToolbar: {
            start: 'reserveButton',
            center: '',
        },


        // [
        //         {
        //           url: '/displayBookings',
        //           type: 'GET',
        //           color: 'yellow',
        //           textColor: 'black',
        //           error: function () {
        //             alert("There was an error from getting booked classes for labs");
        //           }
        //         }
        //         ]

        events: {
            url: '/displayBookingsB',
            color: 'light green',
            textColor: 'black',
            editable: true,
            startEditable: true,
            eventBorderColor: 'yellow'
        },
        // red areas where no events can be dropped
        dateClick: function (info)
        {
            alert("date clicked:"+info.dateStr);

        },
        select: async function(info) {

            let template = null;

            whichLab = findWhichLab();
            let dateStartStr = info.startStr.split('T')[0];
            let timeStartStr = info.startStr.split('T')[1].split('+')[0];

            dateStart = dateStartStr +" " + timeStartStr;
            console.log("date and time in string:" + dateStart);

            let dateEndStr = info.endStr.split('T')[0];
            let timeEndStr = info.endStr.split('T')[1].split('+')[0];
            dateEnd = dateEndStr + " " + timeEndStr;
            console.log("date and time end in string:" + dateEnd);

            // myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
            // var modalDateStart = document.getElementById('startDateFromCal').innerText = dateStartStr + "  at:" + timeStartStr;
            // var modalDateEnd = document.getElementById('endDateFromCal').textContent = dateEndStr + " at:" + timeEndStr;
            // var modalLabname = document.getElementById('labname');
            // modalLabname.textContent = whichLab;
            // var modalUsername = document.getElementById('labuser').textContent = 'dimi';
            createModal(dateStartStr,timeStartStr,dateEndStr,timeEndStr);

            await  getAllBookings().then();
            //newEvent.title = modalEventTitle.value.trim();
            myModal.show();

            var modalSaveChanges = document.getElementById('modalSave');
            // var modalSaveChanges = document.getElementById('modalClose');

            modalSaveChanges.addEventListener('click',async function (e) {
                e.preventDefault();
                var modalEventTitle = document.getElementById('myInput');
                console.log('submit data from modal '+ modalSaveChanges.id);
                console.log('title event ' + modalEventTitle.value.trim());
                myModal.hide();
                newEvent.title = modalEventTitle.value.trim();
                let result = await addEvent().then();
                if (!result) {
                    console.log("no event added");
                    alert("these days are reserved");
                }
                else {
                    alert("reservation made");
                    calendar.render();
                }
                modalEventTitle.value = "";

            },true);

            // calendar.unselect();

            console.log("event with: " + newEvent.id + " "+ newEvent.start +" "+ newEvent.end + " "+ newEvent.title);

        },
        eventClick: function(event,element) {

            // $(document).ready(function() {
            //add all previous event info and then change

            editDialog = $("#edit-dialog-form").dialog({
                autoOpen: false,
                height: 450,
                width: 350,
                modal: true,
                buttons: {
                    Save: saveEvent,
                    Delete: removeEvent,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog("close");
                }
            });


            editDialog.dialog("open");
            // });

            // editEvent(event,element);
        }


        // loading: function(bool) {
        //   $('#loading').toggle(bool);
        // }
    });


    document.addEventListener('DOMContentLoaded',function () {
        // $(document).ready(function() {

        // let calendarEl = document.getElementById('calendar');
        //
        // const calendar = new FullCalendar.Calendar(calendarEl, {
        //
        //   initialView: 'timeGridWeek',
        //   selectable: true,
        //   // selectHelper: true,
        //   editable: true,
        //   businessHours: {
        //     startTime: '08:00',
        //     endTime: '18:00',
        //   },
        //   slotMinTime: "08:00",     // Earliest time displayed in the calendar
        //   slotMaxTime: "18:00",
        //
        //   //
        //   events: [
        //     {
        //       url: '/displayBookings',
        //       type: 'GET',
        //       color: 'yellow',
        //       textColor: 'black',
        //       error: function () {
        //         alert("There was an error from getting booked classes for labs");
        //       }
        //     }
        //   ],
        //   dateClick: function (info)
        //   {
        //     alert("date clicked:"+info.dateStr);
        //
        //   },
        //   select: async function(info) {
        //
        //     let template = null;
        //
        //     whichLab = findWhichLab();
        //     let dateStartStr = info.startStr.split('T')[0];
        //     let timeStartStr = info.startStr.split('T')[1].split('+')[0];
        //
        //     dateStart = dateStartStr +" " + timeStartStr;
        //     console.log("date and time in string:" + dateStart);
        //
        //     let dateEndStr = info.endStr.split('T')[0];
        //     let timeEndStr = info.endStr.split('T')[1].split('+')[0];
        //     dateEnd = dateEndStr + " " + timeEndStr;
        //     console.log("date and time end in string:" + dateEnd);
        //
        //     // myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        //     // var modalDateStart = document.getElementById('startDateFromCal').innerText = dateStartStr + "  at:" + timeStartStr;
        //     // var modalDateEnd = document.getElementById('endDateFromCal').textContent = dateEndStr + " at:" + timeEndStr;
        //     // var modalLabname = document.getElementById('labname');
        //     // modalLabname.textContent = whichLab;
        //     // var modalUsername = document.getElementById('labuser').textContent = 'dimi';
        //     createModal(dateStartStr,timeStartStr,dateEndStr,timeEndStr);
        //
        //    await  getAllBookings().then();
        //    //newEvent.title = modalEventTitle.value.trim();
        //     myModal.show();
        //
        //    var modalSaveChanges = document.getElementById('modalSave');
        //    // var modalSaveChanges = document.getElementById('modalClose');
        //
        //     modalSaveChanges.addEventListener('click',async function (e) {
        //       e.preventDefault();
        //       var modalEventTitle = document.getElementById('myInput');
        //       console.log('submit data from modal '+ modalSaveChanges.id);
        //       console.log('title event ' + modalEventTitle.value.trim());
        //       myModal.hide();
        //       newEvent.title = modalEventTitle.value.trim();
        //       let result = await addEvent().then();
        //       if (!result) {
        //         console.log("no event added");
        //         alert("these days are reserved");
        //       }
        //       else {
        //         alert("reservation made");
        //         calendar.render();
        //       }
        //       modalEventTitle.value = "";
        //     },true);
        //
        //     console.log("event with: " + newEvent.id + " "+ newEvent.start +" "+ newEvent.end + " "+ newEvent.title);
        //
        //
        //   },
        //   eventClick: function(info) {
        //     // Action when an event is clicked
        //     alert('Event: ' + info.event.title);
        //   }
        //
        //   // loading: function(bool) {
        //   //   $('#loading').toggle(bool);
        //   // }
        // });

        var id = calendar.getEventById('15');
        console.log("event information for last event: " + id);
        calendar.render();


    });


</script>
<div  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" class="modal fade"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <h6>Adding Event with the following details</h6>
                        <input id="myInput" type="text" class="form-control" /><br>
                        <div>
                            <label for="startDateFromCal"><b>Start: </b></label>
                            <span id="startDateFromCal"></span>
                        </div>
                        <div>
                            <label for="endDateFromCal"><b>End: </b></label>
                            <span id="endDateFromCal"></span>
                        </div>
                        <div>
                            <label for="labname"><b>Lab: </b></label>
                            <span id="labname"></span>
                        </div>
                        <div>
                            <label for="labuser" ><b>Author: </b></label>
                            <span id="labuser"></span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button"  id="modalClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modalSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-dialog-form" title="Modify an Event" class="ui-helper-hidden">
    <form id="edit-event-form">
        <fieldset>
            <label >title</label>
            <input type="text" name="modtitle" id="modtitle" value="New Event" class="text ui-widget-content ui-corner-all"/>

            <label>description:</label>
            <input type="text" name="moddescription" id="moddescription" value="" class="text ui-widget-content ui-corner-all "/>
            <label for="modstartdateandtime">starts:</label>
            <input type="datetime-local" id="modstartdateandtime"/>
            <br></br>
            <label for="modenddateandtime">ends:</label>
            <input type="datetime-local" id="modenddateandtime"/>
            <input type="hidden" name="moduid" id="moduid"/>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
        </fieldset>
    </form>
</div>